.site-content {
  padding: 0 $globalPadding;
}

.content-block {
  margin: $globalPadding 0;
  width: 100%;
}

.introduction {
  flex-direction: column;
  display: flex;

  .latest-list-item {
    margin: $globalPadding * 2 -#{$globalPadding};
    background-color: $black;
    padding: $globalPadding * 2 $globalPadding;
    color: $white;
    width: auto;
  }

  @include mq("tablet", "min") {
    justify-content: space-between;
    flex-direction: row;

    .latest-list-item {
      margin: 0 0 0 $globalPadding;
      padding: $globalPadding;
      border-radius: 3px;
      flex: 0 2 100%;
    }
  }

  @include mq("desktop", "min") {
    .latest-list-item {
      flex: 0 2 100%;
    }
  }
}

.list-all-items {
  flex-direction: column;
  margin: 0 auto;
  display: flex;
  padding: 0;

  .content-block-header {
    margin: 0 $globalPadding $globalPadding * 2;
    flex: 0 1 100%;
  }

  .list-item {
    margin: $globalPadding 0 $globalPadding * 3;
    padding: 0 $globalPadding;
  }

  @include mq("phone-wide", "min") {
    flex-direction: row;
    flex-wrap: wrap;

    .list-item {
      flex: 0 0 45%;
    }
  }

  @include mq("tablet", "min") {
    .list-item {
      flex: 0 0 33%;
    }
  }

  @include mq("desktop", "min") {
    .list-item {
      flex: 0 0 25%;
    }
  }

  .list-item-stats {
    @include font-size(1);
  }
}

// Single list card
.list-item-card {
  padding: $globalPadding $globalPadding $globalPadding * 7;
  transition: transform 400ms ease-in-out;
  box-shadow: 0 0 10px rgba($black, 0.5);
  border-radius: 10px 10px 0 0;
  transform: translateY(100vh);
  will-change: transform;
  overflow: scroll;
  overflow-x: hidden;
  background: $white;
  position: fixed;
  bottom: 0;
  height: 100vh;
  width: 95%;
  left: 2.5%;

  .open-card & {
    -webkit-overflow-scrolling: touch;
    transform: translateY(5vh);
    z-index: 2;
    bottom: 0;
  }

  .list-item-image {
    margin: $globalPadding -#{$globalPadding};
    box-sizing: border-box;
    height: auto;
    width: 110%;
  }

  @include mq("tablet-wide", "min") {
    max-width: 70%;
  }

  @include mq("desktop", "min") {
    max-width: 50%;
  }
}
