:root {
  --translatey: 0px;
}

header {
  padding: 0 $globalPadding * 2;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #fff;
  height: 50vh;
  display: flex;
  z-index: 0;

  @include mq("tablet-small", "min") {
    height: 70vh;
  }

  &::before {
    background: rgba(0, 0, 0, 0.25);
    display: inline-block;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    z-index: 2;
  }

  .header-hero-image {
    background-position: center center;
    background-size: cover;
    position: absolute;
    height: 130%;
    width: 130%;
    content: "";
    z-index: 1;
    left: -8%;
    top: -8%;

    transform: translateY(var(--translatey));
    will-change: transform;
    transition: transform 0 ease-in-out;
  }

  .site-title {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    margin: $globalPadding*6 auto 0;
    font-family: "angelowregular";
    max-width: $maxWidth;
    text-align: center;
    font-size: 23vw;
    z-index: 3;
    padding: 0;

    a {
      display: block;
    }

    @include mq("tablet-small", "min") {
      font-size: 12vmax;
    }

    @include mq("desktop", "min") {
      font-size: 10vmax;
    }
  }

  .list-item-count {
    @include font-size(1);
    right: $globalPadding;
    top: $globalPadding;
    position: absolute;
    z-index: 2;

    @include mq("tablet-small", "min") {
      @include font-size(1.4);
    }
  }
}
